
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8% 0 8%;
}

.square {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ce5a57;
  display: inline-block;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
}

body {
  text-align: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  text-align: center;
  width: auto;
}

h1 {
  color: #5D535E;
  font-variant: small-caps;

}
h2 {
  color: #DFE166;
  font-variant: small-caps;
}
.blog {
  padding-bottom: 10px;
}
h3 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 300;
}


@media (min-width: 400px) {}

  @media (min-width: 550px) {}

    @media (min-width: 750px) {}
